@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

html{
    line-height: 16px;
    font-size: 16px;
    overflow-x: hidden;
    scroll-padding-top: 50px;
    scroll-behavior: smooth;
}


img{
    width: 100%;
    object-fit: cover;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root{
    --primary-color: #8b171a;
    --heading-color: #ff2527;
    --bg-main: #186496;
    --text-color: #222;
}

ul,ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
a:hover{
    color: #222;
}
p{
    margin-bottom: 0;
}


/* Menu mobile */

.show__menu-mobile{
    display: none;
}

.menu__icon{
    font-size: 24px;
    color: #fff;
    padding: 4px 14px;
    display: inline-block;
    background: var(--bg-main);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.menu__mobile{
    position: fixed;
    top: 164px;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    background: #2a2a2a;
    z-index: 99;
    transform: translate(-100%);
    transition: .4s; 
}
.menu__mobile.active{
    transform: translate(0);
}

.search__mobile{
    position: relative;
    border-top: 1px solid #555;
}
.search__mobile input{
    display: block;
    width: 100%;
    height: 44px;
    border: none;
    padding: 0 20px;
}
.search__mobile input::placeholder{
    font-size: 14px;
}
.search__mobile input:focus{
    border: none;
    outline: none;
}


.search__mobile-btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
}

.menu__mobile-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}